<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amazingly Sensational Security Breach and Egregious Emergency Protocol Service | Home</title>
  <link rel="stylesheet" href="/globalStyles.css">
  <link rel="stylesheet" href="/home.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/assets/PepeLaugh.png" alt="">
    </div>
    <a class="login" href="/login">Log in</a>
  </header>
  <main>
    <section id="hero">
      <div class="hero-left">
        <h1>Unleash Unbeatable Security for Your Business</h1>
        <h2>Don't let your business fall victim to theft. ASSBEEPS provides the ultimate solution for your security needs. Our cutting-edge technology and expert team will help you protect your business and ensure that you are prepared for any emergency situation.</h2>
        <a class="explore" href="#features">Explore more ↓</a>
      </div>
      <div class="hero-right">
        <div class="desktop-site">
          <img src="/assets/Desktop.png" alt="">
        </div>
        <div class="phone-outer">
          <div class="phone-inner">
            <img src="/assets/Phone example.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="features">
      <div class="top-text">
        <img src="/assets/security.png" alt="">
        <h2>Don't leave your security to chance.</h2>
        <p>Trust our experts to keep you protected with cutting-edge technology and vigilant monitoring. Partner with us today for peace of mind and the confidence that comes with knowing your security is in good hands.</p>
      </div>
      <div class="card card-one">
        <div class="card-img">
          <div class="image-bg">
            <div class="image-content">
              <img src="/assets/button_activation.gif" alt="">
            </div>
          </div>
        </div>
        <div class="card-text">
          <div>
            <p>REAL-TIME MONITORING</p>
            <h3>Stay ahead of security threats.</h3>
          </div>
          <p>Our security tool provides real-time monitoring of your space, so you can stay ahead of any potential security threats. With our motion sensor, you'll be alerted immediately if someone enters your space without your permission.</p>
          <p>ASSBEEPS ensures that you can take action right away to keep your property and assets safe.</p>
        </div>
      </div>
      <div class="card card-two">
        <div class="card-text">
          <div>
            <p>USER MANAGEMENT</p>
            <h3>Effortlessly manage your team's access.</h3>
          </div>
          <p>Our web portal allows you to create and manage user accounts, with actions logged in the database and displayed on the web portal.</p>
          <p>Helping you keep track of who has access to your space and when. You can easily add or remove users, reset passwords, and customize user permissions as needed.</p>
        </div>
        <div class="card-img">
          <div class="image-bg">
            <div class="image-content">
              <video autoplay loop>
                <source src="/assets/user_management.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-three">
        <div class="card-img">
          <div class="image-bg">
            <div class="image-content">
              <video autoplay loop>
                <source src="/assets/button_activation.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
        <div class="card-text">
          <div>
            <p>EASY ACTIVATION/DEACTIVATION</p>
            <h3>Stay in control, always.</h3>
          </div>
          <p>Our security tool is designed to be easy to activate and deactivate. You can do this through our web portal or by pressing the button on the Raspberry Pi device itself. This means that you can stay in control of your security tool at all times, whether you're at home or away.</p>
          <p>Providing peace of mind and ensuring that you can activate your security tool quickly and easily when you need to.</p>
        </div>
      </div>
    </section>
    <section id="pricing">
      <h2>Pricing</h2>
      <div class="boxes">
        <div class="box box-one">
          <div class="icon-container">
            <div class="icon">
              <img src="/assets/PepeLaugh.png" alt="">
            </div>
          </div>
          <div>
            <h3>Basic Plan</h3>
            <ul>
              <li>One security device</li>
              <li>Full access to web portal</li>
              <li>Standard support</li>
            </ul>
            <p>£8.99</p>
          </div>
        </div>
        <div class="box box-two">
          <div class="icon-container">
            <div class="icon">
              <img src="/assets/PepeLaugh.png" alt="">
            </div>
          </div>
          <div>
            <h3>Standard Plan</h3>
            <ul>
              <li>Up to 3 security devices</li>
              <li>Full access to web portal</li>
              <li>Priority support</li>
            </ul>
            <p>£16.99</p>
          </div>
        </div>
        <div class="box box-three">
          <div class="icon-container">
            <div class="icon">
              <img src="/assets/PepeLaugh.png" alt="">
            </div>
          </div>
          <div>
            <h3>Premium Plan</h3>
            <ul>
              <li>Unlimited devices</li>
              <li>Customisable security settings and rules</li>
              <li>24/7 support</li>
            </ul>
            <p>£30.00</p>
          </div>
        </div>
      </div>
      <p>All tiers include a £40.00 starting fee with £20.00 for each additional device</p>
    </section>
  </main>
  <footer>
    
  </footer>
</body>
</html>